<h3>Media Control</h3>
<button class="play">play</button>
<button class="pause">pause</button>
<input class="seekbar" type="range" name="seekbar" value="0"/>
<button class="swap">swap surfaces</button>
